.dashboard-post
{
    position: absolute;
    top: 7.2em;
    left: 16.8em;
}
.dashboard-right-tab
{
    position: absolute;
    top: 3.2em;
    left: 73.4em;
    margin-top: 0.75em;
}
.subheader
{
    position: absolute;
    top: 4.1em;
    left:16.7em;
}